<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>WEB MS</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body class="container__contact">
	<header class="header">
		<a href="../index.html">
			<img src="../assets/img/logo_ms.png" alt="logo-ms" width="150px" height="150px"></a>
			<nav>
				<ul>
					<li><a href="ux-ui.html">UX/UI</a></li>
					<li><a href="photo.html">PHOTO</a></li>
					<li><a href="web-design.html">WEB DESIGN</a></li>
					<li><a href="contact.html">CONTACT US</a></li>
				</ul>
			</nav>
		</header>
		<div class="hero__contact-us">
			<h1>Contact us</h1>
		</div>
		<main>
			<section class="section-a">
				<form class="form" action="#">
					<label for="name">Name:<input type="name"></label><br>
					<label for="lastname">Last name:<input type="lastname"></label><br>
					<label for="Age">Age<input type="number" name="age"></label><br>
					<label for="genre">Male<input type="radio" name="genre" value="male"></label><br>
					<label for="genre">Female<input type="radio" name="genre" value="female"></label><br>
					<div>
						<p>¿Which service are you interested for?</p>
						<select name="services" id="services">
							<option value="ux-ui">ux-ui</option>
							<option value="photo">photo</option>
							<option value="web-design">web design</option>
						</select> 
					</div>
					<div>                  
						<p>Comments:</p>
						<textarea name="" id="" cols="40" rows="10"></textarea>
					</div>
					<div>
						<p>Agree terms and conditions</p><input type="checkbox" name="accept" value="1">
						<input type="submit" value="Send">
						<input type="reset" value="Reset">
					</div>
				</section>
			</form>
		</main>
		<footer class="footer">
			<ul class="footer__logos">
				<li class="logos"><a href=""><img src="https://icongr.am/entypo/instagram.svg?size=40&color=0c17b0" alt="instagram"></a></li>
				<li class="logos"><a href=""><img src="https://icongr.am/entypo/behance.svg?size=40&color=0c17b0" alt="behance"></a></li>
			</ul>
		</footer>	
	</body>
	</html>